/* 
--- Colors: ---
Rich black: #0D1321
Ivory: #feffea
Midnight green: #19535f
Lavender: #dadff7
Metallic Seaweed: #177e89
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-text-name {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.7;
  color: white;
  padding-left: 20px;
}

.header-text-jobtitle {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 1.7;
  color: #dadff7;
  padding-left: 80px;
}

.header {
  height: 20vh;
  background-image: linear-gradient(to top right, #19535f, #177e89);
  -webkit-box-shadow: 5px -10px 13px 11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px -10px 13px 11px rgba(0, 0, 0, 0.75);
  box-shadow: 5px -10px 13px 11px rgba(0, 0, 0, 0.75);
}
